
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: cadetblue;
}


@keyframes ball-move {
    0%{
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 100px);
    }
    100%{
      transform: translate(0, 0);
    }
}

@keyframes ball-move1 {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(100px, 0);
  }
  100%{
    transform: translate(0, 0);
  }
}

@media screen and (max-width:345px) and (max-width:767) {
  .ball {
    animation: ball-move1 1s infinite;
  }
}

@media screen and (min-width:1280px) {
  .ball {
    animation: ball-move 1s infinite;
  }
}

